APP_NAME=IntelliTrack
APP_ENV=local
APP_KEY=base64:GENERATE_ME
APP_DEBUG=true
APP_URL=http://localhost:8000
SANCTUM_STATEFUL_DOMAINS=localhost
SESSION_DOMAIN=localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=intellitrack
DB_USERNAME=intellitrack
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
